<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/styles.css">
        <script src="static/js/main.js"></script>
        <title>Student</title>
    </head>

    <body>
        <div class="center" id="topbar">
            <!--Changed by login-->
            <h4 id="greeting" onload="sayName()">Name</h4>
            <h1 id="school">ACME University</h1>
            <!--Add link to login page-->
            <button id="status" onclick="signOut()">Sign Out</button>
        </div>

        <div class="tab">
            <button class="tablinks" onclick="loadTable(event, 'myCourse')">Your Courses</button>
            <button class="tablinks" onclick="loadTable(event, 'addCourse')">Add Courses</button>    
        </div>

        <div id="myCourse" class="tabcontent">
            <table id="AddingCourse" class="full">

                <tr>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                </tr>

                <tr>
                    <!--GET Function-->
                    <td>Testing Course</td>
                    <td>Test Teacher</td>
                    <td>Fake Time</td>
                    <td>10/10</td>
                </tr>

                <tr>
                    <td>Testing Course</td>
                    <td>Test Teacher</td>
                    <td>Fake Time</td>
                    <td>10/10</td>
                </tr>

            </table>
        </div>

        <div id="addCourse" class="tabcontent">
            <table class="full">

                <tr>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                    <th>Add Class</th>
                </tr>

                <tr>
                    <td>Testing Course</td>
                    <td>Test Teacher</td>
                    <td>Fake Time</td>
                    <td>10/10</td>
                    <td><button class="plus" onclick="addRow('AddingCourse')">+</button></td>
                </tr>

                <tr>
                    <td>Testing Course</td>
                    <td>Test Teacher</td>
                    <td>Fake Time</td>
                    <td>10/10</td>
                    <td><button class="plus" onclick="delRow('AddingCourse')">-</button></td>
                </tr>

            </table>

        </div>

    </body>
</html>