* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    border-style: hidden;
}

body {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div#topbar.center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
}

.tab {
    overflow: hidden;
    border: black;
    display: flex;
    justify-content: space-evenly;
}

.tab button {
    background-color: whitesmoke;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 15%;
    transition: 0.5s;
}

.tab button:hover {
    background-color: white;
}

.tab button.active {
    background-color: cornflowerblue;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#addCourse.tabcontent {
    padding: 1%;
}

table.full {
    display: flex;
    justify-content: space-evenly;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
}

button.plus {
    border-style: hidden;
    background-color: white;
    font-size: xx-large;
}

button#status {
    border-style: hidden;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}